<style>
.Welcome-image {
  background-image: url(https://st2.depositphotos.com/3837271/7341/i/450/depositphotos_73416409-stock-photo-healthy-life-text-sign.jpg);
  background-color: #cccccc;
  height: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
</style>
<div class="Welcome-image">
  
<a href='/start' class="button">Start</a>
</div>