.body {
  background-color: #badcf8;

}
#heading-text {
  text-align: center;
  position: absolute;
  top: 10%;
  left: 38%;
  transform: translate(-10%, -50%);
  text-align: center;
  font-family: Impact, Charcoal, sans-serif;
  font-size: xxx-large;
  font-style: italic;
  color: #1d8ac9;
    
    
  }


h1 {
  font-family: "Sofia";
  font-size: 22px;
}

.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #35a3ce;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #1171be}

.button:active {
  background-color: #3e5a8e;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


  
.user {
  margin: 0 auto;
  margin-top: 75px;
}

input.new-item {
  outline: none;
}

.list-group-user > button.delete,
.list-group-user > button.complete {
  float: right;
  height: 25px;
  margin-left: 5px;
}

.edit {
  width: 100%;
}
.img-container {
  float: left;
  width: 33.33%; /* three containers (use 25% for four, and 50% for two, etc) */
  padding: 5px; /* if you want space between the images */
}


